/builds
/.project
/.pydevproject
/.settings
/tmp
/test
/objs
_CPack_Packages
CMakeCache.txt
CMakeFiles/
Makefile
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
/py_src/version.go
nxs-backup.code-workspace
/.vscode
version.go
