Source: #PACKAGE#
Section: backup
Priority: optional
Maintainer: #USERNAME# <#EMAIL#>
Build-Depends: #BUILD_DEPS#
Standards-Version: #POLICY#
Homepage: https://nixys.ru

Package: #PACKAGE#
Architecture: amd64
Depends: ${misc:Depends}
Conflicts: nxs-backup (<< 2.0.0)
Description: Nixys software for backup databases and files
  Nixys solution for the collection backups of databases and files.
